body {
    background-image: linear-gradient(#63cebe, white 130%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

table {
    margin: auto;
}
hr {
    height: 1px;
    background: rgba(142, 142, 142, 0.5);
    border-radius: 100%;

}
.inputField {
    width: 500px;
    height: 25px;
    font-size: 20px;
    outline: none;
    border-radius: 5px;
}

.inputField:hover {
    border: 2px solid #5f91e2;
}

.addBtn {
    height: 35px;
    width: 35px;
    background: #00c62e;
    border: none;
    outline: none;
    font-size: 40px;
    line-height: 100%;
    cursor: pointer;
}

.addBtn:hover {
    background: #04d835;
    color: white;
}

.field {
    margin-bottom: 30px;
    /*border: 1px solid grey;*/
    width: 550px;
    max-width: 550px;
    font-family: 'Rubik', sans-serif;
    /*background: #87e0e5;*/
    overflow: hidden;
    word-wrap: break-word;

}

.rBtn {
    height: 20px;
    width: 40px;
    font-size: 28px;
    line-height: 15px;
    background: red;
    border: 1px solid white;
    outline: none;
}

.rBtn:hover {
    background: #c40000;
    color: white;
    cursor: pointer;
}

.text {
    cursor: pointer;
}




